In [7]:
import itertools
import time
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.metrics import mean_squared_error

%matplotlib inline
plt.style.use('ggplot')

In [8]:
df = pd.read_csv("base_data2.csv")

In [9]:
df.drop(['CLASS','DT','YEAR','HML_SI_CAT'],axis=1,inplace=True)
df.head(3)

   HML_SI  HML_SI_BIN  CORR_PRODUCTION  ...  COK_AMS  SIN_CAO_SIO2  SIN_MGO
0   0.758           0          6392.38  ...   37.497         2.437    1.710
1   0.823           0          6398.66  ...   37.560         2.368    1.792
2   0.806           0          6438.70  ...   37.424         2.342    1.710

[3 rows x 38 columns]

In [10]:
#Setting up the X and Y variables, adding constant term for intercept
X=df[['CORR_COKE_RATE', 'HM_TEMP', 'QUARTZ_RATE', 'COLD_BLAST_O2_ENRICH', 'COMP_COLD_BLAST_FLOW', 'K', 'HML_S',
       'HML_MGO', 'HML_CAO_SIO2', 'SIN_CAO_SIO2','SIN_MGO','UPTAKE_AVG','COK_CRI']]
y = df.HML_SI_BIN
X = sm.add_constant(X)

X.head()

   const  CORR_COKE_RATE   HM_TEMP  ...  SIN_MGO  UPTAKE_AVG  COK_CRI
0    1.0         361.681  1514.714  ...    1.710     119.175   22.380
1    1.0         345.385  1509.167  ...    1.792     118.954   22.960
2    1.0         343.703  1517.857  ...    1.710     111.061   23.500
3    1.0         351.201  1512.500  ...    1.730     114.986   25.300
4    1.0         366.764  1514.250  ...    1.768     117.437   25.784

[5 rows x 14 columns]

In [11]:
df[['HML_SI','HML_SIO2']]

     HML_SI  HML_SIO2
0     0.758    32.997
1     0.823    34.620
2     0.806    33.847
3     0.743    33.800
4     0.748    34.383
..      ...       ...
523   0.788    33.813
524   0.727    33.760
525   0.780    33.749
526   0.764    34.202
527   0.673    33.663

[528 rows x 2 columns]

In [12]:
model_1 = sm.Logit(y, X)
result_1 = model_1.fit()
result_1.summary()

Optimization terminated successfully.
         Current function value: 0.450507
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:             HML_SI_BIN   No. Observations:                  528
Model:                          Logit   Df Residuals:                      514
Method:                           MLE   Df Model:                           13
Date:                Thu, 25 Jun 2020   Pseudo R-squ.:                  0.3093
Time:                        06:03:03   Log-Likelihood:                -237.87
converged:                       True   LL-Null:                       -344.38
Covariance Type:            nonrobust   LLR p-value:                 2.865e-38
========================================================================================
                           coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                  201.5875     31.070      6.488      0.000     140.692     262.483
CORR_COKE_RATE          -0.0477      0.010     -4.884      0.000      -0.067      -0.029
HM_TEMP                 -0.1361      0.019     -7.260      0.000      -0.173      -0.099
QUARTZ_RATE             -0.0716      0.027     -2.618      0.009      -0.125      -0.018
COLD_BLAST_O2_ENRICH    -0.9338      0.360     -2.592      0.010      -1.640      -0.228
COMP_COLD_BLAST_FLOW    -0.0651      0.031     -2.069      0.039      -0.127      -0.003
K                       -4.0029      0.913     -4.386      0.000      -5.792      -2.214
HML_S                  138.7646     25.703      5.399      0.000      88.388     189.142
HML_MGO                  1.1899      0.281      4.227      0.000       0.638       1.742
HML_CAO_SIO2            37.8738      6.257      6.053      0.000      25.610      50.137
SIN_CAO_SIO2             2.1003      0.846      2.482      0.013       0.442       3.759
SIN_MGO                 -0.2455      0.660     -0.372      0.710      -1.538       1.047
UPTAKE_AVG              -0.0487      0.012     -4.151      0.000      -0.072      -0.026
COK_CRI                 -0.0645      0.081     -0.795      0.426      -0.223       0.094
========================================================================================
"""

In [13]:
a = pd.DataFrame(abs(df.corr()['HML_SI'])>0.1)

In [14]:
a= a[a['HML_SI']==True]

In [15]:
l = a.index
l

Index(['HML_SI', 'HML_SI_BIN', 'CORR_PRODUCTION', 'CORR_COKE_RATE',
       'CORR_COAL_RATE', 'HM_TEMP', 'QUARTZ_RATE', 'SLAG_RATE',
       'PYROXINITE_RATE', 'HOT_BLAST_TEMP', 'COLD_BLAST_O2_ENRICH',
       'O2_INJ_FLOW', 'COLD_BLAST_HUMID', 'COMP_COLD_BLAST_FLOW', 'UPTAKE_AVG',
       'UPPER_K', 'MIDDLE_K', 'K', 'HML_S', 'HML_CAO', 'HML_AL2O3',
       'HML_CAO_SIO2', 'COK_MOISTURE', 'SIN_CAO_SIO2', 'SIN_MGO'],
      dtype='object')